<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>MongoDBWebapp</display-name>

    <context-param>
        <param-name>MONGODB_HOST</param-name>
        <param-value>193.106.55.42</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_USERNAME</param-name>
        <param-value>adtm</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_PASSWORD</param-name>
        <param-value>1234Abcd</param-value>
    </context-param>

    <context-param>
        <param-name>PUSHER_APP_ID</param-name>
        <param-value>185377</param-value>
    </context-param>
    <context-param>
        <param-name>PUSHER_KEY</param-name>
        <param-value>6ddefb4dd81db7c72a0d</param-value>
    </context-param>
    <context-param>
        <param-name>PUSHER_SECRET</param-name>
        <param-value>3f69261d7626161b410e</param-value>
    </context-param>
    <context-param>
        <param-name>DB_IP</param-name>
        <param-value>193.106.55.42</param-value>
    </context-param>
    <context-param>
        <param-name>DB_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>

    <!-- this need same with resteasy servlet url-pattern -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest</param-value>
    </context-param>


    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStrategyServlet</servlet-name>
        <servlet-class>com.controller.strategy.DeleteStrategyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStrategyServlet</servlet-name>
        <url-pattern>/DeleteStrategyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getLiveData</servlet-name>
        <servlet-class>com.controller.live.ActionsReaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLiveData</servlet-name>
        <url-pattern>/getLiveData</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userStrategies</servlet-name>
        <servlet-class>com.controller.strategy.UserStrategyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userStrategies</servlet-name>
        <url-pattern>/userStrategies</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddStrategyServlet</servlet-name>
        <servlet-class>com.controller.strategy.AddStrategyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStrategyServlet</servlet-name>
        <url-pattern>/AddStrategyServlet</url-pattern>
    </servlet-mapping>



    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            com.DB.MongoDBContextListener
        </listener-class>
    </listener>
</web-app>