<body>

<div ng-app="MyApp" ng-cloak>
  <md-content class="md-padding">
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
        <md-tab id="tab1">
            <md-tab-label>Live Data</md-tab-label>
            <md-tab-body>
                <div ng-controller="liveDataDirective">
                    <div kendo-grid
                         k-data-source="gridData"
                         k-columns="gridColumns"
                         k-selectable="true"
                         k-on-change="selected = data"
                         k-sortable="true"
                         k-pageable="true"
                         k-column-menu="true"
                         k-filterable="true"
                         k-groupable="true">
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <div ng-controller="strategyKendo">
        <md-tab id="tab2">
        <md-tab-label>Strategies</md-tab-label>
        <md-tab-body>
            <kendo-grid options="strategyGridOptions">
              <div k-detail-template>
                <kendo-tabstrip>
                  <ul>
                    <li class="k-state-active">Actions</li>
                    <li>Strategy information</li>
                  </ul>
                  <div>
                    <div kendo-grid k-options="actionsGridOptions(dataItem)"></div>
                  </div>
                  <div>
                    <ul>
                      <li>Strategy ID: {{dataItem.StrategyID}}</li>
                    </ul>
                  </div>
                </kendo-tabstrip>
              </div>
            </kendo-grid>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab4">
        <md-tab-label>Time Chart</md-tab-label>
        <md-tab-body>
          <div ng-controller="TimeChartCtrl">
              <hc-chart id="timeChart" options="chartOptions">Placeholder for generic chart</hc-chart>
          </div>
        </md-tab-body>
      </md-tab>
    </div>
    </md-tabs>
  </md-content>
</div>
